
body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRHluRYSooB4K51WuLDZOehuGvq7PX6X_wTBigKGr-LMQ&usqp=CAU&ec=48665698");
    text-align: center;
}

div.start{
    background-color: black;
    color: white;
}

header{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: white ;
    width: 400px;
}

#gif{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 450px;
}

.chooseEm{
    text-align: left;
    width: 300px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    border-width: 2px;
    border-style: solid;
    border-color: blueviolet;
}
form#poke-add{
    text-align: center;
    display: flex;
    width: auto;
    height: auto;
}


strong.imgName{
    margin-left: 25px;
    font-size: 32px;
}
div#pokemon-images{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    
    width: 400px;
}

img.pokeImg{
    height: 100px;
    width: 102px;
}

img#real-img{
    height: 400px;
    width: 450px;
}

p#desReal{
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    width: 500px;
    background-color: azure;
}

div.user-choice{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}



form#userPokemon{
    background-color: blueviolet;
}

label{
    color: whitesmoke;
    font-size: 20px;
}
